/* font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/* common */
@import "reset.css";
@import "variables.css";

/* components <- 모든 페이지에서 사용되는 것 */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";

/* screen <- 해당 페이지에서만 사용되는 것 */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/chats.css";

/* Document level adjustments */
@media (max-width: 56.25rem) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 25rem) {
  html {
    font-size: 12px;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #2e363e;
}

a {
  text-decoration: none;
  color: inherit;
}
