#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 1.071em 0px;
  font-size: 1.143em;
  font-size: 1.286em;
  margin-bottom: 1.071em;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  border-top: var(--main-border);
}

.friends-screen__channel-header {
  margin: 1.071em 0 1.429em 0;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
