.nav {
  background-color: #f9f9fa;
  padding: 1.429em 2.857em;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__notification {
  position: absolute;
  right: -0.214em;
  top: -0.857em;
  width: 1.071em;
  height: 1.071em;
  border-radius: 50%;
  background-color: crimson;
  text-align: center;
  line-height: 1.071em;
  font-weight: bold;
  color: white;
}
