.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.786em;
}

.screen-header__title {
  font-size: 2.286em;
  font-weight: bold;
}

.screen-header__icons {
  display: flex;
}

.screen-header__icon {
  margin-left: 1.786em;
}
